extends layout

block content
  h1= title

  .row
    h2.col-md-offset-3 Creating a new poll
    form.col-sm-10.col-md-6.col-md-offset-3(action="/questions/create" method="post")
      .form-group
        label Poll Question
        input.form-control(type="text" name="question" placeholder="Favorite Musketeer?" required)
      .form-group
        label A Possible Response
        input.form-control(type="text" name="response-one" placeholder="D'Arty" required)
      .form-group
        label Another Response
        input.form-control(type="text" name="response-two" placeholder="The candy bar" required)
      .form-group
        button.btn.btn-default(type="submit") Ask Away!

  h2 Existing Polls

  ul
  each question in questions
    li
      = question.question
      | &nbsp;
      | (
      a(href="/questions/" + question.id + "/destroy") Destroy
      | )
      ul
        li
          | Creating a new response:
          form(action="/questions/" + question.id + "/responses/create", method="post", style="display: inline")
            input(type="text", name="title")
            input(type="submit")
        each response in question.Responses
          li
            = response.title
            | &nbsp;
            | (
            a(href="/questions/" + question.id + "/responses/" + response.id + "/destroy") Destroy
            | )
